/* Number Guessing Game CSS */

body {
	background-image: url("background.jpg");
	margin: 10px;
	background-color: #f7f421;
	font-family: Arial, sans-serif;
	background-position: center;
}

.button {

	background-color: #FDE76C ; /* Yellow Pastel */
			border: none;
			border-radius: 12px;
			color: rgba(8, 0, 0, 0.918);
			padding: 5px;
			width: 200px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-family: 'Copse', serif;
			font-size: 25px;
			margin: 4px 2px;
			cursor: pointer;
}

#historyArea {
	margin-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

#game {
	background-color: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #cccccc;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

#statusArea {
	font-size: 120%;
	text-align: center;
	text-align: center;
			text-decoration: none;
			display: inline-block;
}

#footerArea {
	text-align: center;
	margin-top:5px;
	font-size: 90%;
	font-style: italic;
}